<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='')}}">

	<!-- Bootstrap -->
	<!-- <link rel="stylesheet" href="static/plugins/bootstrap/bootstrap.min.css"> -->
	<!-- themefy-icon -->
	<!-- <link rel="stylesheet" href="static/plugins/themify-icons/themify-icons.css"> -->
	<!--Favicon-->
	<!-- <link rel="icon" href="static/images/favicon.png" type="image/x-icon"> -->
	<!-- fonts -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet"> -->
	<!-- Main Stylesheet -->
	<!-- <link href="static/style.css" rel="stylesheet" media="screen" /> -->
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>