<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>MMD</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'plugins/bootstrap/bootstrap.min.css')}}">
	<!-- themefy-icon -->
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'plugins/themify-icons/themify-icons.css')}}">
	<!--Favicon-->
	<link rel="icon" type="image/x-icon" href = "{{ url_for ('static', filename = 'images/favicon.png')}}">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<!-- Main Stylesheet -->
	<link href="static/style.css" rel="stylesheet" media="screen" />
</head>

<body>
	<!-- header -->
	<header class="banner overlay bg-cover" data-background="static/images/banner.jpg">
		<nav class="navbar navbar-expand-md navbar-dark">
			<div class="container">
				<a class="navbar-brand" style="text-align: center" href="">MMD</a>
				<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
					aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				
			</div>
		</nav>
		<!-- banner -->
		<div class="container section">
			<div class="row">
				<div class="col-lg-8 text-center mx-auto">
					<h1 class="text-white mb-3">MASS MAIL DISPATCHER</h1>
									</div>
			</div>
		</div>
		<!-- /banner -->
	</header>
	<!-- /header -->

	<!-- topics -->
	<section class="section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<h2 class="section-title">Get Started</h2>
				</div>
				<!-- topic-item -->
				
				<div class="col-lg-4 col-sm-6 mb-4">
					<a href="upload_csv" class="px-4 py-5 bg-white shadow text-center d-block match-height">
						<i class="ti-credit-card icon text-primary d-block mb-4"></i>
						<h3 class="mb-3 mt-0">Upload &amp;Verification</h3>
						
					</a>
					
				</div>
				<div class="col-lg-4 col-sm-6 mb-4">
					<a href="sendmail" class="px-4 py-5 bg-white shadow text-center d-block match-height">
						<i class="ti-package icon text-primary d-block mb-4"></i>
						<h3 class="mb-3 mt-0">Send Mail</h3>
						
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- jquiry -->
	<script src="static/plugins/jquery/jquery-1.12.4.js"></script>
	<!-- Bootstrap JS -->
	<script src="static/plugins/bootstrap/bootstrap.min.js"></script>
	<!-- match-height JS -->
	<script src="static/plugins/match-height/jquery.matchHeight-min.js"></script>
	<!-- Main Script -->
	<script src="static/script.js"></script>
</body>

</html>